<div class="container bg-light">
    <div *ngIf="cartProduct.length >  0; else empty" class="text-center" style="padding-bottom: 15px;">
        <h1>Ваша корзина:</h1>
        <hr>
        <table>
            <tbody>
                <tr></tr>
                <tr *ngFor="let product of cartProduct">
                    <td>{{product.title}}</td>
                    <td>{{product.author}}</td>
                    <td>{{product.price}} рублей</td>
                    <td>{{product.quantity}} шт.</td>
                    <td>
                        <div class="btn-delete btn-danger" (click)="remove(product)">Удалить товар</div>
                    </td>    
                </tr>
            </tbody>
        </table>
        <hr>
        <h2 class="right">Общая стоимость: {{getTotalPrice()}} руб.</h2>
        <div class="order">
            <input type="text" placeholder="Введите имя для оформления заказа" [(ngModel)]="inputName">
            <div *ngIf="inputName">
                <div class="btn btn-success" (click)="checkout({
                     Id:0,Name:inputName,TotalPrice:0, TotalQuantity:0, Books:cartProduct}
                     )">Оформить заказ</div>
            </div>
        </div>
        
    </div>
</div>
<ng-template #empty>
    <h1 class="text-center">Корзина пустая, добавьте товары</h1>
</ng-template>
